@tailwind base;
@tailwind components;
@tailwind utilities;

.clipped-element {
    /* width: 300px;
    height: 300px;
    background-color: #B68C5A; */
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}
